/*
	  Flaticon icon font: Flaticon
	  Creation date: 19/03/2017 20:00
	  */
@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("fonts/Flaticon.woff") format("woff"),
    url("fonts/Flaticon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  /*font-size: 20px;margin-left: 20px;*/
  font-style: normal;
}

.flaticon-buildings:before {
  content: "\f100";
  font-size: 35px;
  margin-left: 0
}

.flaticon-list:before {
  content: "\f101";
  font-size: 35px;
  margin-left: 0
}

.flaticon-skyline:before {
  content: "\f102";
}

.flaticon-excavator:before {
  content: "\f103";
}

.flaticon-blueprint:before {
  content: "\f104";
}

.flaticon-helmet:before {
  content: "\f105";
}

.flaticon-boring-machine:before {
  content: "\f106";
}

.flaticon-motherboard-lines:before {
  content: "\f107";
}
